@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Manrope:wght@500;600&family=Poppins:wght@400;600;700&display=swap');

.cards-drinks{
    background-color: #0f0e0e;
    max-width: 20em;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 11px #000000;
    cursor: pointer;
    max-height: 25em;
    font-family: 'Lora', serif;
    font-style: italic;
}

.cards-drinks:hover{
    transform: scale(1.05);
}

.imageDrink img{
    width: 100%;
}

.info-drinks{
    height: 3em;    
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin: 3rem 0;
}

.search-box-input{
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 15px;
    padding: 0 1rem;
}

@media (min-width: 768px){
    .container-cards{
        grid-template-columns: repeat(3,1fr);
    }
}